@import "tailwindcss";

.load-menu {
  animation: load-nav 0.1s ease-in forwards;
}

@keyframes load-nav {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}


.load-image {
  animation: load-icon 2s ease-in forwards;
}

@keyframes load-icon {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}


@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}
